/*-------------------------
*  LIBRARY
*-------------------------*/

@library_folder_path : "../vendor/";
//@import "@{library_folder_path}[filename]";



/*-------------------------
*  FOUNDATIONS
*-------------------------*/
@foundations_folder_path : "./Foundations/";
//@import "@{foundations_folder_path}[filename]";

@import "@{foundations_folder_path}_const.less";
@import "@{foundations_folder_path}_reset.less";
@import "@{foundations_folder_path}_default.less";


/*-------------------------
*  MIXINS
*-------------------------*/


@mixins_folder_path : "./Mixins/";

//@import "@{mixins_folder_path}[filename]";


/*-------------------------
*  COMPONENTS
*-------------------------*/

@components_folder_path : "./Components/";
//@import "@{components_folder_path}[filename]";

/*-------------------------
*  Utility
*-------------------------*/

@utility_folder_path : "./Utility/";
//@import "@{utility_folder_path}[filename]";


